@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer .items {
  position: relative;
  padding: 0 20px;
  background-color: #4d6bc6;
  color: white;
  margin-top: -5px;
  fill: white;
  font-size: 1.1rem;
  padding-bottom: 15px;
  display: grid;
  place-content: center;
}
footer .items .note-hover {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: help;
}
footer .items .note-hover > span:last-child {
  border-bottom: dashed 1px;
}
footer .items .note-hover:hover .note {
  visibility: visible;
  opacity: 1;
  transform: translateY(-100%);
}
footer .items .note {
  position: absolute;
  top: -10px;
  visibility: hidden;
  transform: translateY(-90%);
  max-width: 340px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
  padding: 15px 20px;
  border-radius: 15px;
  color: black;
  transition: 0.3s;
  opacity: 0;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(68, 68, 68, 0.533);
}
footer .items .note span {
  position: absolute;
  bottom: 0;
  width: 30px;
  left: 50%;
  height: 20px;
  transform: translate(-50%, 60%);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: white;
}
footer .wave svg {
  fill: #d7e6f5;
  text-align: center;
}
footer .wave1 {
  fill: #4d6bc6;
}
footer .wave1 svg {
  rotate: 180deg;
  margin-top: -100%;
}
footer form {
  padding: 0 25px;
  text-align: center;
  padding-top: 30px;
  margin-top: -5px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 120px;
  background-color: #d7e6f5;
}
footer form label {
  font-weight: bold;
  font-size: 1.1rem;
}
footer form .subsrcibe {
  position: relative;
  width: min(85%, 500px);
  display: flex;
  align-items: center;
}
footer form .subsrcibe button {
  position: absolute;
  right: 0;
  height: calc(100% - 2px);
  padding: 0px 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.2s;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 1.1rem;
}
footer form .subsrcibe button:hover {
  background-color: rgba(255, 255, 255, 0.141);
}
footer form .subsrcibe input {
  padding: 12px 25px;
  border-radius: 25px;
  width: 100%;
  font-size: 1.3rem;
  border: none;
  border-top: 1px solid rgba(108, 108, 108, 0.673);
  border-left: 1px solid rgba(97, 97, 97, 0.595);
  border-bottom: 1px solid rgba(101, 101, 101, 0.673);
  transition: 0.1s;
}
footer form .subsrcibe input:focus {
  outline-offset: 1px;
}
footer form .subsrcibe input:focus + button {
  transform: scale(1.1);
  background-color: black;
  color: white;
}
footer form .subsrcibe input:hover {
  border: 1px solid black;
}
footer nav {
  background-color: #2f466c;
  color: white;
  fill: white;
  display: flex;
  padding: 50px 4%;
  gap: 50px;
  justify-content: space-between;
  line-height: 2rem;
}
footer nav .top {
  line-height: 2.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
footer nav .top .down {
  display: none;
}
footer nav a {
  color: inherit;
  text-decoration: none;
  font-size: 0.87rem;
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li a:hover {
  text-decoration: underline;
}
footer nav .social {
  margin-top: 30px;
}
footer nav .social > a {
  display: flex;
  align-items: center;
  font-weight: bold;
  outline: 2px solid white;
  padding: 5px 15px;
  max-width: 250px;
  transition: 0.15s;
  line-height: 1.1rem;
  border-radius: 25px;
}
footer nav .social > a span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
}
footer nav .social > a:hover {
  outline-offset: 1px;
}
footer nav .social div {
  margin-top: 15px;
  transform: translateX(-15px);
  display: flex;
  flex-wrap: wrap;
}
footer nav .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  transition: 0.1s;
  height: 58px;
  border-radius: 100%;
}
footer nav .social li a:hover {
  background-color: rgba(214, 214, 214, 0.299);
}
footer .t-footer {
  padding: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #232347;
  color: white;
}
footer .t-footer ul {
  list-style-type: none;
}
footer .t-footer ul a {
  color: white;
  line-height: 1.5rem;
  font-size: 0.85rem;
  text-decoration: underline;
}
footer .t-footer div:first-child {
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  flex-wrap: wrap;
  padding: 15px 25px;
  border-radius: 20px;
  justify-content: center;
}
footer .t-footer div:first-child:hover {
  background-color: rgba(214, 214, 214, 0.299);
}
footer .t-footer ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
footer .t-footer span {
  flex: 1;
  text-align: end;
}
@media screen and (max-width: 855px) {
  footer nav {
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    padding-block: 50px;
  }
  footer nav ul {
    padding: 0 20px;
  }
  footer nav ul li a {
    font-size: 1.1rem;
  }
  footer nav .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer nav .social div {
    justify-content: center;
  }
  footer nav .show {
    display: none;
    transition: 0.3s;
  }
  footer nav .top {
    cursor: pointer;
    border-radius: 50px;
    justify-content: space-between;
    padding: 7px 20px;
    transition: 0.1s;
  }
  footer nav .top .down {
    display: block;
    transition: 0.25s;
  }
  footer nav .top:hover {
    background-color: rgba(255, 255, 255, 0.141);
  }
}
@media screen and (max-width: 930px) {
  footer .t-footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=footer.css.map */