@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid rgba(160, 160, 160, 0.636);
}
header .logo {
  display: flex;
  align-items: center;
  width: 80px;
  fill: rgb(255, 94, 0);
}
header .nav {
  display: grid;
  grid-template-columns: 100px 1fr 210px;
  padding: 10px 100px;
}
header .nav .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav .flex a {
  cursor: pointer;
  display: grid;
  padding: 15px;
  transition: all 0.5s;
  border-radius: 100%;
  margin-left: 5px;
  list-style-type: none;
}
header .nav .flex a:hover {
  background-color: rgba(255, 255, 255, 0.141);
}
header .nav .flex .cart {
  position: relative;
}
header .nav .flex .cart .quatity {
  position: absolute;
  font-size: 1rem;
  padding: 0px 6px;
  right: 7%;
  top: 13%;
  background-color: rgb(159, 3, 3);
  display: grid;
  color: white;
  place-content: center;
  border-radius: 100px;
}
header .nav .flex button {
  cursor: pointer;
  border: none;
  font-size: inherit;
  border-radius: 50px;
  background-color: transparent;
  padding: 10px 20px;
}
header .nav .flex button:hover {
  background-color: rgba(255, 255, 255, 0.141);
}
header .nav .search {
  width: 98%;
  position: relative;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
}
header .nav .search input {
  width: 100%;
  border-radius: 50px;
  font-size: 1.3rem;
  padding: 10px 20px;
  border: 2px solid black;
}
header .nav .search input:focus {
  outline: none;
}
header .nav .search span {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 1px;
  height: 100%;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
  width: 70px;
  padding-right: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.4s;
}
header .nav .search span:hover {
  background-color: rgba(255, 255, 255, 0.141);
}
header .aside {
  position: relative;
  z-index: 999999;
  padding: 0 100px 15px;
}
header .aside .items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
header .aside .items .hover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .aside .items .hover a {
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
}
header .aside .items .hover .parent {
  position: relative;
}
header .aside .items .hover .parent::after {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -17px;
  transition: all 0.4s;
  width: 0;
  content: "";
  padding: 7px;
  border-bottom: 3px solid transparent;
}
header .aside .items .hover:hover .contaner {
  display: flex;
}
header .aside .items .hover:hover .parent::after {
  width: 110%;
  border-bottom: 3px solid rgb(0, 0, 0);
}
header .aside .items .hover .contaner {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: start;
  width: calc(100% - 160px);
  padding-top: 20px;
  top: calc(100% + 2px);
  padding-bottom: 40px;
  list-style-type: none;
  box-shadow: 5px 5px 25px rgba(161, 161, 161, 0.41);
  background-color: white;
  left: 80px;
}
header .aside .items .hover .contaner::after {
  content: "";
  height: 100%;
  top: 0;
  border-left: 2px solid rgba(141, 141, 141, 0.434);
  position: absolute;
  left: 33%;
}
header .aside .items .hover .contaner li {
  width: -moz-max-content;
  width: max-content;
}
header .aside .items .hover .contaner li a {
  font-size: 0.95rem;
  padding: 10px 20px;
  display: flex;
  transition: all 0.2s;
  gap: 5px;
}
header .aside .items .hover .contaner li a:hover {
  gap: 10px;
}
header .aside .items .hover .contaner li .bold {
  font-weight: bold;
}
header .aside .items .hover .contaner button {
  position: relative;
  display: flex;
  text-align: start;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  height: 40px;
  width: 33%;
  overflow: visible;
  font-size: 0.95rem;
  background-color: transparent;
  gap: 20px;
}
header .aside .items .hover .contaner button span {
  text-align: end;
}
header .aside .items .hover .contaner button .hidden {
  position: absolute;
  right: 0;
  transform: translate(100%, -20px);
  padding-top: 20px;
  padding-left: 35px;
  top: -37px;
  width: calc(200% + 20px);
  display: none;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 50px;
}
header .aside .items .hover .contaner button .nav2-show {
  top: calc(-35px - (2 - 1) * 40px);
}
header .aside .items .hover .contaner button .nav3-show {
  top: calc(-35px - (3 - 1) * 40px);
}
header .aside .items .hover .contaner button .nav4-show {
  top: calc(-35px - (4 - 1) * 40px);
}
header .aside .items .hover .contaner button .nav5-show {
  top: calc(-35px - (5 - 1) * 40px);
}
header .aside .items .hover .contaner button .nav6-show {
  top: calc(-35px - (6 - 1) * 40px);
}
header .aside .items .hover .contaner button .nav7-show {
  top: calc(-35px - (7 - 1) * 40px);
}
header .aside .items .hover .contaner button span {
  text-align: end;
  flex: 1;
}
header .aside .items .hover .contaner button:hover {
  background-color: rgba(255, 255, 255, 0.141);
}
header .aside .items .hover .contaner button:hover .hidden {
  display: flex !important;
}
header .aside .items .hover .contaner button .items {
  flex-direction: column;
  justify-content: start;
}
header .aside .items .hover .contaner button .items ul {
  width: 100%;
  list-style-type: none;
  padding-bottom: 20px;
}
header .aside .items .hover .contaner button .items ul li a {
  font-size: 0.87rem;
  padding: 7.5px 0;
}
header .aside .items .hover .contaner button .items ul li a:hover {
  text-decoration: underline;
}
header .aside .items .hover .contaner button .items ul li:first-child a {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0;
}
header .aside .items .hover .contaner button .items ul .nor a {
  font-weight: normal;
  font-size: 0.87rem !important;
}
header .aside .items .hover .contaner button .item1 {
  right: 0;
  width: 50%;
}
header .aside .items .hover .contaner button .item2 {
  top: -40px;
  right: -100%;
}
header .aside .items .hover .contaner button .item2 li a {
  font-weight: bold;
  font-size: 1rem !important;
  font-family: sans-serif;
}
header .aside .items .hover .contaner button .item2 li:last-child a {
  font-size: 0.9rem !important;
  font-weight: normal !important;
  margin-top: 20px;
}
header .aside .items .hover .new {
  flex-direction: row;
}
header .aside .items .hover .new ul {
  list-style-type: none;
}
header .aside .items .hover .new .con {
  width: 33.3333333333%;
}
header .aside .items .hover .new .con li a {
  font-size: 0.85rem;
}
header .aside .items .hover .new .con li a:hover {
  text-decoration: underline;
}
header .aside .items .hover .new .con li:first-child a {
  font-size: 1.05rem;
  font-weight: bold;
}
header .aside .items .hover .new::after {
  height: 0 !important;
}

input[type=search]:focus + span {
  background-color: black;
  color: white;
}/*# sourceMappingURL=header.css.map */